# npm
node_modules
/lib
.idea
package-lock.json
*.log
*.gz
bun.lockb
# env
.env
.env.test
.env.production
.env.development
.env.local
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore